/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("https://www.bewerbung-forum.de/wp/wp-content/uploads/hintergrund-bewerbungsfoto-1024x682.jpg");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
 #kopfbereich {

  position:fixed
top:0;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:100%;
height:100px;
  z-index:2;
  }
  #navibereich {
  position:fixed;
top: 150px;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:200px;
min-height:300px;
z-index:3;
}
#textbereich {

  position:fixed;
left:0;
right:0;
top:100px;
padding-left:200px;
padding-right:200px;
padding-top:20px;
padding-bottom:60px;
border: 1px solid #ccc;
height:100%;
overflow-y: auto;
background-color:rgba(122,197,205);
}
#newsbereich {
  position:fixed;            ! Position des Newsbereichs immer rechts! - FIX;
  right: 10px;px;                 ! Rechtsausrichtung;
  top: 150px;                ! Position unterhalb des Kopfbereiches;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color:rgb(152,245,255);   ! Hintergrundfarbe;
  width:200px;               ! Breite des Newsbereichs;
  min-height:300px;          ! Minimal-Höhe des Newsbereichs;
  z-index:2;                 ! Newsbereich überlagert andere Bereiche;
}
#fussbereich {

 position:fixed;              ! Position;
 bottom: 2px;;                    ! Unten;
 left:0;                      ! links;
 border: 1px solid #ccc;      ! Rahmen;
 width: 200%;                 ! Breite;
 background-color:rgb(152,245,255);      ! Farbe;
 height:50px;                 ! Höhe;
 z-index:2;                   ! überlagert;  
} 
/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}
p {
font-family: 'Montserrat', sans-serif;  ! Festlegung der Schriftart;
font-style:normal;                      ! Festlegung des Schrifttyps;
font-size:11pt;                         ! Festlegung des Schriftgröße;
font-weight:400;                        ! Festlegung der Fettschrift (400 = normal, 700 = fett);
color:#000000;                          ! Festlegung des Schriftfarbe, hier Schwarz;
}

