/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("https://www.bewerbung-forum.de/wp/wp-content/uploads/hintergrund-bewerbungsfoto-1024x682.jpg");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
 #kopfbereich {

  position:fixed
top:0;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:100%;
height:100px;
  z-index:2;
  }
  #navibereich {
  position:fixed;
top: 100px;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:200px;
min-height:300px;
z-index:2;
}
#textbereich {

  position:fixed;
left:0;
right:0;
top:100px;
padding-left:210px;
padding-right:210px;
padding-top:20px;
padding-bottom:60px;
border: 1px solid #ccc;
height:100%;
overflow-y: auto;
background-color:rgba(152,245,255,0.5);
}
#newsbereich {
  position:fixed;            ! Position des Newsbereichs immer rechts! - FIX;
  right:0px;                 ! Rechtsausrichtung;
  top: 100px;                ! Position unterhalb des Kopfbereiches;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color:rgb(152,245,255);   ! Hintergrundfarbe;
  width:200px;               ! Breite des Newsbereichs;
  min-height:300px;          ! Minimal-Höhe des Newsbereichs;
  z-index:2;                 ! Newsbereich überlagert andere Bereiche;
}
#fussbereich {

 position:fixed;              ! Position;
 bottom:0;                    ! Unten;
 left:0;                      ! links;
 border: 1px solid #ccc;      ! Rahmen;
 width: 100%;                 ! Breite;
 background-color:rgb(152,245,255);      ! Farbe;
 height:50px;                 ! Höhe;
 z-index:2;                   ! überlagert;  
} 

