/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("https://www.bewerbung-forum.de/wp/wp-content/uploads/hintergrund-bewerbungsfoto-1024x682.jpg");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
 #kopfbereich {

  position:fixed
top:0;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:100%;
height:100px;
  z-index:2;
  }
  #navibereich {
  position:fixed;
top: 150px;
left:0;
border: 1px solid #ccc;
background-color:rgb(152,245,255);
width:200px;
min-height:300px;
z-index:3;
}
#textbereich {

  position:fixed;
left:0;
right:0;
top:100px;
padding-left:200px;
padding-right:200px;
padding-top:20px;
padding-bottom:60px;
border: 1px solid #ccc;
height:100%;
overflow-y: auto;
background-color:rgba(122,197,205);
}
#newsbereich {
  position:fixed;            ! Position des Newsbereichs immer rechts! - FIX;
  right: 10px;px;                 ! Rechtsausrichtung;
  top: 150px;                ! Position unterhalb des Kopfbereiches;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color:rgb(152,245,255);   ! Hintergrundfarbe;
  width:200px;               ! Breite des Newsbereichs;
  min-height:300px;          ! Minimal-Höhe des Newsbereichs;
  z-index:2;                 ! Newsbereich überlagert andere Bereiche;
}
#fussbereich {

 position:fixed;              ! Position;
 bottom: 2px;;                    ! Unten;
 left:0;                      ! links;
 border: 1px solid #ccc;      ! Rahmen;
 width: 200%;                 ! Breite;
 background-color:rgb(152,245,255);      ! Farbe;
 height:50px;                 ! Höhe;
 z-index:2;                   ! überlagert;  
} 
/*  Höhe des Contentbereichs festlegen */                    
.content-block {
  padding-bottom: 1000px;
}
p {
font-family: 'Montserrat', sans-serif;  ! Festlegung der Schriftart;
font-style:normal;                      ! Festlegung des Schrifttyps;
font-size:11pt;                         ! Festlegung des Schriftgröße;
font-weight:400;                        ! Festlegung der Fettschrift (400 = normal, 700 = fett);
color:#000000;                          ! Festlegung des Schriftfarbe, hier Schwarz;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.1 Transitional//EN">
<html>
  <head>
    <title>Bewerbungshomepage</title>
    <meta name="AUTHOR" content="Andre Lausberg">
    <meta name="COPYRIGHT" content="Copyright (c) 2026 by Andre Lausberg">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="DESCRIPTION" content="Dies ist die Bewerbungshomepage von Andre Lausberg">
    <meta name ="KEYWORDS" content ="Bewerbungshomepage, Andre Lausberg, Bewerbung">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <!-- import the webpage's fonts -->
    <link rel="stylesheet" href="/fonts.css" />
  </head>
  <body>
	<div id="kopfbereich">
              <p class=“header-title“>Bewerbung von Andre Lausberg</p>
	</div> <!-- Ende kopfbereich -->
	<div id="navibereich"></div> <!-- Ende navibereich -->
	<div id="textbereich">
            <div class="content-block">
	       <p class="title">Dies ist eine Überschrift</p> 
	       <p>Dies ist ein Beispieltext</p>
           </div><!-- Ende content-block -->
	</div> <!-- Ende textbereich -->
	<div id="newsbereich"></div> <!-- Ende newsbereich -->
	<div id="fussbereich"></div> <!-- Ende fussbereich -->
  </body>
</html>
.header-title {
font-family:‘Montserrat’, sans-serif;   ! Festlegung der Schriftart;
font-size:24pt;				! Festlegung des Schriftgröße;
font-weight:700;			! Festlegung des Fettschrift, hier können Sie auch bold angeben;
text-align:center;			! Schriftausrichtung, möglich ist left | center | right;
}

